/logs/app.log
*.pyc
runner/composes/rabbit-minio-runner/data1/.minio.sys
runner/composes/rabbit-minio-runner/data2/baseteam/cyrus/
runner/composes/rabbit-minio-runner/data2/gamelog/
runner/composes/rabbit-minio-runner/data2/logs/
runner/composes/rabbit-minio-runner/data2/server/rcssserver
storage/data/tournament.db
runner/composes/.env
deploy/data
.idea
data/