/logs/app.log
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/storage.iml
/.idea/vcs.xml
/data/team_configs/0_jpg.rf.5e94e0c2040a6c19a305fad8b4fba6c6_46.txt
/data/team_configs/data.yaml
