name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:  # This allows the workflow to be triggered manually

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Print Secrets
      run: echo ${{ secrets.DOCKER_USERNAME }} ${{ secrets.DOCKER_PASSWORD }}
      
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build the Docker image
      id: build-image
      run: |
        TIMESTAMP=$(date +%s)
        docker build ./runner --file ./runner/Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/foxsy-runner-app:$TIMESTAMP
        echo "::set-output name=timestamp::$TIMESTAMP"

    - name: Tag the Docker image as latest
      run: docker tag ${{ secrets.DOCKER_USERNAME }}/foxsy-runner-app:${{ steps.build-image.outputs.timestamp }} ${{ secrets.DOCKER_USERNAME }}/foxsy-runner-app:latest

    - name: Push the Docker image with timestamp tag
      run: docker push ${{ secrets.DOCKER_USERNAME }}/foxsy-runner-app:${{ steps.build-image.outputs.timestamp }}

    - name: Push the Docker image with latest tag
      run: docker push ${{ secrets.DOCKER_USERNAME }}/foxsy-runner-app:latest
